<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmployeeController</display-name>
    <servlet-name>EmployeeController</servlet-name>
    <servlet-class>hostel.controller.EmployeeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeController</servlet-name>
    <url-pattern>/EmployeeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomController</display-name>
    <servlet-name>RoomController</servlet-name>
    <servlet-class>hostel.controller.RoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomController</servlet-name>
    <url-pattern>/RoomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerController</display-name>
    <servlet-name>CustomerController</servlet-name>
    <servlet-class>hostel.controller.CustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerController</servlet-name>
    <url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>hostel.controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>hostel.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBookingController</display-name>
    <servlet-name>CustomerBookingController</servlet-name>
    <servlet-class>hostel.controller.CustomerBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBookingController</servlet-name>
    <url-pattern>/CustomerBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegisterController</display-name>
    <servlet-name>CustomerRegisterController</servlet-name>
    <servlet-class>hostel.controller.CustomerRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegisterController</servlet-name>
    <url-pattern>/CustomerRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListCustomerBookingController</display-name>
    <servlet-name>ListCustomerBookingController</servlet-name>
    <servlet-class>hostel.controller.ListCustomerBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListCustomerBookingController</servlet-name>
    <url-pattern>/ListCustomerBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>hostel.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BridgeDAO</display-name>
    <servlet-name>BridgeDAO</servlet-name>
    <servlet-class>BridgeDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BridgeDAO</servlet-name>
    <url-pattern>/BridgeDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookingCustomerController</display-name>
    <servlet-name>AddBookingCustomerController</servlet-name>
    <servlet-class>hostel.controller.AddBookingCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookingCustomerController</servlet-name>
    <url-pattern>/AddBookingCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLoginController</display-name>
    <servlet-name>EmployeeLoginController</servlet-name>
    <servlet-class>hostel.controller.EmployeeLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginController</servlet-name>
    <url-pattern>/EmployeeLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRegisterController</display-name>
    <servlet-name>EmployeeRegisterController</servlet-name>
    <servlet-class>hostel.controller.EmployeeRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegisterController</servlet-name>
    <url-pattern>/EmployeeRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddBooking</display-name>
    <servlet-name>AdminAddBooking</servlet-name>
    <servlet-class>hostel.controller.AdminAddBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddBooking</servlet-name>
    <url-pattern>/AdminAddBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerLoginController</display-name>
    <servlet-name>CustomerLoginController</servlet-name>
    <servlet-class>hostel.controller.CustomerLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginController</servlet-name>
    <url-pattern>/CustomerLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerViewBookingController</display-name>
    <servlet-name>CustomerViewBookingController</servlet-name>
    <servlet-class>hostel.controller.CustomerViewBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerViewBookingController</servlet-name>
    <url-pattern>/CustomerViewBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomDashboardController</display-name>
    <servlet-name>RoomDashboardController</servlet-name>
    <servlet-class>hostel.controller.RoomDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomDashboardController</servlet-name>
    <url-pattern>/RoomDashboardController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainDashboardController</display-name>
    <servlet-name>MainDashboardController</servlet-name>
    <servlet-class>hostel.controller.MainDashboardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainDashboardController</servlet-name>
    <url-pattern>/MainDashboardController</url-pattern>
  </servlet-mapping>
</web-app>